body {
    background-color: rgb(29, 28, 28);
    color: rgb(129, 129, 129);
}
.wordbank {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: fit-content;
}
.wordBox {
    padding: 1rem;
    border: rgb(87, 87, 87) 1px solid;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}
.selected {
    color: white;
}